<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 offset-md-2 footer-list">
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/">about</a></li>
					<li><a href="/">contact</a></li>
					<li><a href="/">services</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-4">
				<h5>3180 Fairlane Farms Rd.</h5>
				<h5>Wellington, Fl. 33414</h5>
				<h6 class="pt-3">Monday - Friday</h6>
				<h6>8 a.m. - 5 p.m.</h6>
				<h6 class="pt-3">(561) 333-2109</h6>
			</div>
		</div>
	</div>
	<div class="footer__footer"></div>
</section>