{% extends "base.twig" %}

{% block content %}
	<section class="hero">
		<div class="container hero__content">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="word">Foster Marine</h1>
					<h5 class="pt-3">Utility Contractors based in Wellington, Florida</h5>
				</div>
			</div>
		</div>
		{# <div class="gradient"></div> #}
	</section>
	<section class="home__about">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque.</h3>
				</div>
			</div>
		</div>
	</section>
	<section class="home__services aniview" data-av-animation="slideInRight">
		<div class="bg__img u-abs-fill service-bg" style="background-image: url('{{ theme.link }}/assets/src/img/sign.jpg')"></div>
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h6 class="pb-5">We specialize in</h6>
				</div>
				<div class="col-12 col-lg-10 offset-lg-1 services">
					<div class="service-container">
						<div class="service">
							<h5>Open Cut Utility</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque.</p>
						</div>
					</div>
					<div class="service-container">
						<div class="service">
							<h5>Open Cut Utility</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque.</p>
						</div>
					</div>
					<div class="service-container">
						<div class="service">
							<h5>Open Cut Utility</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque.</p>
						</div>
					</div>
					<div class="service-container">
						<div class="service">
							<h5>Open Cut Utility</h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus pulvinar elementum integer enim neque.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta cta__contact">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3 class="pb-5">Contact us to find out what we can do for you!</h3>
					<a href="#!" class="btn btn-secondary">contact us</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}