{% extends "base.twig" %}

{% block content %}
	<section class="hero internal">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 offset-md-1">
					<h1>{{ post.title }}</h1>
					<h4 class="pt-md-5">Lorem ipsum dolor sit amet, sit id tamquam atomorum. Liber semper mediocrem nec at, etiam temporibus eu usu.</h4>
				</div>
			</div>
		</div>
		{# <div class="gradient"></div> #}
	</section>
{% endblock %}